In [19]:
import pandas as pd
import numpy as np
import random
df = pd.read_csv("alugueis.csv")

Integrantes do Grupo:
- Gustavo Losch do Amaral
- Henrique Ramos Mayer
- Rian Cordoni da Veiga

#### Exercício Avaliativo
• (Amostragem) Escreva o corpo da função mostrada abaixo:
`amostragem_aleatória(dataframe, amostras, reposicao=True)`


Essa função recebe três parâmetros:
- dataframe = pandas contendo os dados
- amostras = número de amostras desejadas
- reposicao = amostragem com ou sem reposição


Essa função deve retornar um dataframe com o número exato de
amostras

In [20]:
def amostragem_aleatoria(dataframe, amostras, reposicao):
    sampled = pd.DataFrame(columns=dataframe.columns.values)
    visitados = set()
    for i in range(0, amostras):
        while True:
            index = random.randint(0, len(dataframe))
            if index not in visitados and not reposicao:
                visitados.add(index)
                break
            elif reposicao:
                break
        sampled.loc[len(sampled)] = dataframe.iloc[index]
    return sampled

• (Amostragem) Escreva uma função com a assinatura mostrada abaixo:
`amostragem_estratificada(dataframe, amostras, coluna)`


Essa função recebe três parâmetros:
- dataframe = pandas contendo os dados
- amostras = número de amostras desejadas
- coluna = nome de uma coluna do dataset


Essa função deve retornar um dataframe com o número exato de
amostras, mantendo a proporção de valores da coluna escolhida
presente no dataframe original.

In [27]:
def amostragem_estratificada(dataframe, amostras, coluna):
    # Agrupa os dados por valor da coluna e calcula proporção por grupo
    proporcoes = dataframe[coluna].value_counts(normalize=True)

    # Calcula o número de amostras por grupo com base na proporção
    amostras_por_grupo = (proporcoes * amostras).round().astype(int)

    # Corrige para garantir que a soma seja exatamente igual ao total de amostras
    # Por causa dos erros de numero quebrado
    diferenca = amostras - amostras_por_grupo.sum()
    if diferenca != 0:
        idx_max = amostras_por_grupo.idxmax()
        amostras_por_grupo[idx_max] += diferenca

    # Faz a amostragem para cada grupo
    amostra_final = pd.concat([
        dataframe[dataframe[coluna] == grupo].sample(n=qtd, random_state=42)
        for grupo, qtd in amostras_por_grupo.items()
    ])

    return amostra_final.reset_index(drop=True)
amostragem_estratificada(df, 10, 'furniture')

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,711,Rio de Janeiro,214,3,3,3,4,acept,not furnished,3575,14000,1050,181,18810
1,9085,Rio de Janeiro,690,4,5,2,21,not acept,not furnished,4798,9500,1301,123,15720
2,8844,Campinas,350,4,3,4,-,not acept,not furnished,500,6000,500,91,7091
3,9702,São Paulo,25,1,1,0,1,not acept,not furnished,0,1200,35,16,1251
4,8930,São Paulo,120,3,4,2,1,acept,not furnished,1500,3000,670,39,5209
5,570,Belo Horizonte,680,7,6,8,-,acept,not furnished,0,8000,428,132,8560
6,6217,São Paulo,75,3,1,1,1,not acept,not furnished,475,1800,0,23,2298
7,5746,Campinas,78,3,2,2,3,acept,not furnished,605,1690,68,22,2385
8,2352,Rio de Janeiro,60,2,1,0,6,not acept,furnished,800,2900,92,38,3830
9,10344,São Paulo,84,1,2,0,1,acept,furnished,850,6000,250,77,7177

---

Usando o dataset “alugueis” fornecido, realize testes nas funções
desenvolvidas:
1. Crie um dataset com apenas 100 amostras
2. Crie outro dataset com 200 amostras, preservando a proporção de imóveis
em cada cidade
- Faça a discretização do atributo área do imóvel em três categorias:
1. “PEQUENO” = até 50m2
2. “MÉDIO” = 50 até 100m2
3. “GRANDE” = > 100m2
- Divida o atributo total em 5 categorias e utilize one-hot encoding para
discretizá-lo

In [52]:
reposicao = False
sampled = amostragem_aleatoria(df, 100, reposicao)


print("Tamanho da amostra:", len(sampled))
print(f"Com reposicao={reposicao} têm-se {len(sampled.drop_duplicates(inplace=False))} linhas únicas.")

Tamanho da amostra: 100
Com reposicao=False têm-se 100 linhas únicas.